/*   
	version:  1.0
	author:   Ieltxu Orue Ibañez
	date: 	  20150618
		
*/

/*****************************  
   RESET    
*******************************/
@import url("reset.css");

/***************************** 
      		ETIQUETAS 
*******************************/ 
h1 {
	font-family: arial;
	font-size: 25px;
	text-align: center;
	color: #6DBAD2;
	margin-top: 10px;
	margin-bottom: 25px;
}	

label {
	font-weight: bold;
}

footer {
	position: absolute;
	left: 35px;
	bottom: 25px;
	color: #FFF;
	font-size: 20px;
}

footer span {
	font: arial;	
}

footer span#precio {
	font-family: arial;
  	font-size: 80px;
  	position: absolute;
  	bottom: -10px;
  	right: -150px; 	
}

/***************************** 
      ESTILOS REUTILIZABLES 
*******************************/ 
.cnt {
	padding: 0 40px;
	font: arial;
}
.cnt select {
	margin-right: 10px;
}

	
/***************************** 
			PAGINAS
*******************************/ 

/*
*	calcularentradas
*/

#container {
	margin: 20px auto;
	width: 300px;
	height: 400px;
	background-image: url('../img/entrada_cine.jpg');
	border: 1px solid #000;
	position: relative;
}



