/*   
	version:  1.0
	author:   Ieltxu Orue Ibañez
	date: 	  20150618
		
*/

/******************************  
   RESET    
*******************************/
@import url("reset.css");

/****************************** 
			ETIQUETAS
*******************************/ 
body {
	font-size: 16px;
}

/****************************** 
		calcular_entradas
*******************************/ 
#calcular_entrada {
	margin: 50px auto;
	width: 300px;
	height: 400px;
	background-image: url('../img/entrada_cine.jpg');
	border: 1px solid #000;
	position: relative;
}

#calcular_entrada header {
	height: 50px;
	width: 100%;
	margin-top: 10px;
}
	#calcular_entrada header h1 {
		font-family: arial;
		font-size: 1.5em;
		text-align: center;
		color: #6DBAD2;
	}	

#calcular_entrada div#selectores {
	padding: 0 40px;
	font: arial;
}
	#calcular_entrada div#selectores label {
		font-weight: bold;
	}
	#calcular_entrada div#selectores select {
		margin-right: 10px;
	}

#calcular_entrada footer {
	position: absolute;
	bottom: 0;
	width: 90%;
	padding: 5%;
	color: #FFF;
	font-size: 1.2em;
	font-family: arial;	
}
	#calcular_entrada footer output#precio {
		position: absolute;
		bottom: 5px;
		right: 40px;
		font-size: 5em;
	}
